.nav{
    height: 8vh;
    background-color: #141627;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.title{
    color:white;
}
.menu{
    color: white;
}

.fa-bars, .fa-times{
    color:white;
    font-size: 25px;
}