@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.PageBody {
    background-color: white;
}

.articles {
    text-align: center;
}

.article {
    height: 250px;
    width: 350px;
    border: 2px solid black;
    display: inline-block;
    margin : 40px 35px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.article:hover {
    background-color: rgba(0, 0, 255, 0.726);
    color: white;
}

#ar1 {
    align-self: right;
}