.cityArticles{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cityArticle{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-top: 40px;
    background-color: orange;
}