
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
  color: white;
  padding-top: 1em;
  font-family: 'Poppins';
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(18, 19, 54);
  }
  
  .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bolder;
    background-color:white;
    
  }
  
  
  .footer-info  {
    display: flex;
    justify-content: center;
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }

  .footer-info__contact {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
   
  .footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    width: 100%;
  }

  a:link{
    color:white;
      background-color: transparent;
  text-decoration: none;
  }

  .copyright{
      font-size:x-small;
  }

  a.hover{
      color:whitesmoke;
  }

