@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.Categories {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.CatItem {
    margin-right: 60px;
    border-radius: 4px;
}

.Austin {
    text-align: center;
}

.single {
    box-shadow: 1px 1px 4px 1px grey;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1.75;
}

@media screen and (min-width: 664px){
    .category-center {
        flex-wrap: wrap;
    }

    .single{
        flex: 0 0 calc(50% - 20px);
        width: 600px;
        margin: auto;
    }
}

.btns{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.btns button{
    padding: 5px 10px;
    margin: 10px 10px
}
    