*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.homePage{
    background-image: url('../images/TexasSkyline.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}