*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.homePage{
    background-image: url('../images/TexasSkyline.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column
}



.texasTitle {
    background-color: white;
    color: black;
    font-size: 40px; 
    font-weight: bold;
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Lobster'; */
    font-family: 'Saira Stencil One', cursive;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }


  @media screen and (min-width: 600px) {
    .texasTitle {
        background-color: white;
        color: black;
        font-size: 50px; 
        font-weight: bold;
        /* font-family: 'Libre Baskerville', serif; */
        /* font-family: 'Lobster'; */
        font-family: 'Saira Stencil One', cursive;
        margin: 0 auto; /* Center the text container */
        padding: 20px;
        width: 30%;
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        top: 50%; /* Position text in the middle */
        left: 50%; /* Position text in the middle */
        transform: translate(-50%, -50%); /* Position text in the middle */
        mix-blend-mode: screen; /* This makes the cutout text possible */
      }
  }  